.nav ul {
     padding:0;
     display: flex;
     flex-flow: row wrap;
     align-content: spacebetween;
     align-items: center;
     justify-content: center;    }
   
   .nav ul li {
    display: flex;
order: 1;
align-self: center;
flex: 1 1 100px;
border: 0px solid black;
height: 30px;
margin: 0px; 
  }
   .menu{
       margin-bottom: 10px;
       display: block;
   }
   .nav li a {
    margin: -5px; 
    order: 1;
    align-self: center;
    flex: 1 1 100px;
    border: 0px solid black;
    height: 30px;
    color: white;
    background: #265c99;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    border-radius: 0px;
}
   .nav li ul li a {
    display: block;
    background: #9ca4ee;
    border: 0px solid black;
    color: black;
    padding: 8px;
    text-decoration: none;
    font-size: 24px;

   }
   
   .nav ul li ul {
        display: none;
    }
    .nav ul li:hover ul {
        display: block;
        max-width: 61px;
        position: absolute;
        margin-top: -1px;
        margin-left: 8px;
    }  
   
   .nav li li {
    width:150px;
   }
   .nav{
display: block;
           margin-left: auto;
       margin-right: auto;
       margin-top: 10px;
    }